
# 模型权重和数据（不参与git同步）
pretrain/
ckpt/
avs_ckpt/
pretrain_ckpt/
.ipynb_checkpoints
.idea
# Python 缓存
**/__pycache__/
*.pyc
*.pyo
.DS_Store
data/AudioCaps/
data/LVIS/
data/video-llava
data/AVUIE_annotations
data/music_avqa_data
data/music-avqa